@{
    ViewBag.Title = "Home Page";
}

<div class="item">
    <div class="item_top">
        <div class="item_top_img">演播厅</div>
        
        <div class="item_top_menu item_top_menu1 item_menu_active">电影天堂</div>
        <div class="item_top_menu item_top_menu1">电视佳剧</div>

        <div class="item_top_left">精品排行</div>
    </div>
    <div class="item_content">
        <div style="width:720px">
            <div class="item_content_left item_content_left1" id="V1">
                <!--
                <div class="item_content_video">
                    <img src="~/images/pic1.jpg" />
                    <ul>
                        <li><a href="/Home/ShowVideo?id=1">看一看，十年少</a></li>
                        <li style="color:#99a2aa;"><span class="item_content_play">44.3万</span><span class="item_content_dm">44.3万</span></li>
                    </ul>
                </div>
                -->
            </div>
            
            <div class="item_content_left item_content_left1" id="V2" style="display:none;">
            <!--
                <div class="item_content_video">
                    <img src="~/images/pic1.jpg" />
                    <ul>
                        <li>【名作之壁】全年代日本TV动</li>
                        <li style="color:#99a2aa;"><span class="item_content_play">44.3万</span><span class="item_content_dm">44.3万</span></li>
                    </ul>
                </div>
            -->

            </div>
        </div>
        <div class="item_content_right">
            <!--
            <ul>
                <li><span style="background:#f25d8e;">1</span>傅人传 火影忍者时代</li>
                <li><span style="background:#f25d8e;">2</span>傅人传 火影忍者时代</li>
                <li><span style="background:#f25d8e;">3</span>傅人传 火影忍者时代</li>
                <li><span>4</span>傅人传 火影忍者时代</li>
                <li><span>5</span>傅人传 火影忍者时代</li>
                <li><span>6</span>纱雾：不出不出不出，说了不出就不出！</li>
                <li><span>7</span>纱雾：不出不出不出，说了不出就不出！</li>
                <li><span>8</span>纱雾：不出不出不出，说了不出就不出！</li>
            </ul>
             -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "http://123.206.61.229/danmuplayer/Backend/web/index.php/danmu/getvideo",
            type: "get",
            data: {},
            dataType: "jsonp",
            error: function () {
                alert('Error loading XML document');
            },
            success: function (data, status) {//如果调用php成功 
                var output1 = "";
                for (var i = 0; i < data[0].length; i++) {
                    output1 += '<div class="item_content_video"><img src="' + data[0][i].picpath + '" /><ul><li><a href="/Home/ShowVideo?id=' + data[0][i].id + '">' + data[0][i].title + '</a></li><li style="color:#99a2aa;"><span class="item_content_play">' + data[0][i].num + '</span><span class="item_content_dm">' + data[0][i].danmunum + '</span></li></ul></div>';
                }
                $("#V1").html(output1);
                var output2 = "";
                for (var i = 0; i < data[1].length; i++) {
                    output2 += '<div class="item_content_video"><img src="' + data[1][i].picpath + '" /><ul><li><a href="/Home/ShowVideo?id=' + data[1][i].id + '">' + data[1][i].title + '</a></li><li style="color:#99a2aa;"><span class="item_content_play">' + data[1][i].num + '</span><span class="item_content_dm">' + data[1][i].danmunum + '</span></li></ul></div>';
                }
                $("#V2").html(output2);
                var output3 = "";
                if (data[2].length > 3) {
                    output3 += '<ul>';
                    for (var i = 0; i < data[2].length; i++) {
                        if (i < 3) {
                            output3 += '<li><span style="background:#f25d8e;"> ' + i + '</span><a href="/Home/ShowVideo?id=' + data[2][i].id + '">' + data[2][i].title + '</a></li>';
                        } else {
                            output3 += '<li><span> ' + i + '</span><a href="/Home/ShowVideo?id=' + data[2][i].id + '">' + data[2][i].title + '</a></li>';
                        }
                    }
                    output3 += '</ul>';
                }
                $(".item_content_right").html(output3);
                
            }
        });
    })
</script>



