
@{
    ViewBag.Title = "ShowVideo";
}

<!--<h2>@ViewBag.video_id</h2>-->
<div class="show_video_content">
    <div class="video_head">
        <h2 style="color:#525659;font-size:16px;" id="Vtitle">　　</h2>
        <ul>
            <li><span style="background-position:-659px -210px;"></span><div id="num">　</div></li>
            <li><span style="background-position:-659px -275px;"></span><div id="danmunum"> </div></li>
            <li><span style="background-position:-659px -338px;"></span><div>11.6万</div></li>
            <li><span style="background-position:-659px -403px;"></span><div>11.6万</div></li>
        </ul>
    </div>
    <div class="video_main">
        <div id="danmup" style="float:left;width:700px;height:480px;">
            <div class="spinner" id="spinner"></div>

        </div>
        <div style="display: none;">
            <span class="glyphicon" aria-hidden="true">&#xe072</span>
            <span class="glyphicon" aria-hidden="true">&#xe073</span>
            <span class="glyphicon" aria-hidden="true">&#xe242</span>
            <span class="glyphicon" aria-hidden="true">&#xe115</span>
            <span class="glyphicon" aria-hidden="true">&#xe111</span>
            <span class="glyphicon" aria-hidden="true">&#xe096</span>
            <span class="glyphicon" aria-hidden="true">&#xe097</span>
        </div>
        <div class="video_com">
            <div class="video_com_menu">
                <div class="video_com_menu_item">推荐视频</div>
                <div class="video_com_menu_item">弹幕列表</div>
            </div>
            <div class="video_com_con">
                <div class="video_com_con_detail" id="tuijianlist">
                    <!--
                    <div class="video_con_tj">
                        <div class="video_con_pic">
                            <img src="~/images/pic1.jpg" />
                        </div>
                        <div class="video_con_title">
                            <div class="video_con_title_con">
                                <a href="#">【西游记】唐僧取经 </a>
                            </div>
                            <div class="video_con_title_d">
                                <span class="video_con_play">44.3万</span><span class="video_con_dm">44.3万</span>
                            </div>
                        </div>
                    </div>
                        -->
                </div>
                <div class="video_com_con_detail" >
                    <ul id="danmulist">
                        <li><span class="vddtime">时间</span><span class="danmucont">内容</span><span class="addtime">时间</span></li>                       
                    </ul>

                </div>
            </div>
        </div>
    </div>
    

</div>

<link href="/Content/jquery.mCustomScrollbar.css" rel="stylesheet">
<script src="/Scripts/jquery.mCustomScrollbar.js"></script>


<script>
    
    $(document).ready(function () {
        $(".video_com_con_detail").eq(0).show().siblings().hide();
        $(".video_com_menu_item").eq(0).addClass("video_menu_active");
        $(".video_com_menu_item").click(function () {
            var num = $(".video_com_menu_item").index(this);
            $(this).addClass("video_menu_active").siblings().removeClass("video_menu_active");
            $(".video_com_con_detail").eq(num).show().siblings().hide();
        })
        

    })
    var videopath;
    $.ajax({
        url: "http://123.206.61.229/danmuplayer/Backend/web/index.php/danmu/showvideo?id=" + getUrlParam('id'),
        type: "get",
        async: false,
        data: {},
        dataType: "json",
        //dataType: "jsonp",
        error: function () {
            alert('Error loading XML document');
        },
        success: function (data, status) {//如果调用php成功 
            var danmucount = data[3][0].danmucount;
            $("#Vtitle").html(data[0][0].title);
            $("#num").html(data[0][0].num);
            $("#danmunum").html(data[0][0].danmunum);
            //视频路径 data[0][0].videopath
            videopath = data[0][0].videopath;
            $(".spinner").css("display", "none");
            var danmulist = "";
            if (data[1].length > 0) {
                for (var i = 0; i < data[1].length; i++) {
                    danmulist += '<li><span class="vddtime">' + data[1][i].vddtime + '</span><span class="danmucont">' + JSON.parse(data[1][i].content).text + '</span><span class="addtime">' + data[1][i].addtime.substring(5, 10) + '</span></li>';
                }
            }
            if (data[1].length > 29) {
                $('#danmulist').append(danmulist + '<li id="loadD"><span class="loadDanmu"><img src="/images/timg.gif" /></span></li>');
                $('#danmulist').mCustomScrollbar({
                    scrollButtons: {
                        enable: true,
                        scrollType: "pixels",
                        scrollSpeed: 20,
                        scrollAmount: 200,
                    },
                    autoDraggerLength: true,
                    theme: "dark-thin",
                    mouseWheelPixels: 200,
                    autoHideScrollbar: true,
                    callbacks: {
                        onTotalScroll: function () {
                            pullDanmu(this, danmucount);//传入this,防止报错，mCustomScrollbar不存在
                        },
                    }
                });
            } else {
                $('#danmulist').append(danmulist);
                $('#danmulist').mCustomScrollbar({
                    scrollButtons: {
                        enable: true,
                        scrollType: "pixels",
                        scrollSpeed: 20,
                        scrollAmount: 200,
                    },
                    autoDraggerLength: true,
                    theme: "dark-thin",
                    mouseWheelPixels: 200,
                    autoHideScrollbar: true,
                });
            }
            
            for (var i = 0; i < data[2].length; i++) {
                $("#tuijianlist").append('<div class="video_con_tj"><div class="video_con_pic"><img src="' + data[2][i].picpath + '" /></div><div class="video_con_title"><div class="video_con_title_con"><a href="/Home/ShowVideo?id=' + data[2][i].id + '">' + data[2][i].title + ' </a></div><div class="video_con_title_d"><span class="video_con_play">' + data[2][i].num + '</span><span class="video_con_dm">' + data[2][i].danmunum + '</span></div></div></div>');
            }

            //console.log(data[2]);
        }
    });
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    function pullDanmu(el,danmucount) {
        var num = $("#danmulist .mCSB_container li").length - 2;
        if (num < danmucount) {
            $.ajax({
                url: "http://123.206.61.229/danmuplayer/Backend/web/index.php/danmu/getlimitdanmu?id=" + getUrlParam('id'),
                type: "get",
                data: { num: num },
                dataType: "jsonp",
                error: function () {
                    alert('Error loading XML document');
                },
                success: function (data, status) {//如果调用php成功 
                    var danmulist = "";
                    if (data[0].length > 0) {
                        for (var i = 0; i < data[0].length; i++) {
                            danmulist += '<li><span class="vddtime">' + data[0][i].vddtime + '</span><span class="danmucont">' + JSON.parse(data[0][i].content).text + '</span><span class="addtime">' + data[0][i].addtime.substring(5, 10) + '</span></li>';
                        }
                        $("#loadD").remove();
                        $("#danmulist .mCSB_container").append(danmulist + '<li id="loadD"><span class="loadDanmu"><img src="/images/timg.gif" /></span></li>');
                        el.mCustomScrollbar("update");
                    }
                }
            });
        } else if (num == danmucount) {
            $("#loadD").remove();
            $("#danmulist .mCSB_container").append('<li id="loadD" ><span class="loadDanmu">到底啦！</span></li>');
            $("#danmulist .mCSB_container").append('<li style="display:none;" ><span class="loadDanmu"></span></li>');
            el.mCustomScrollbar("update");
        } else {
            
        }
        
    }
    
    if (videopath) {     
        $("#danmup").DanmuPlayer({
            src: videopath,
            height: "480px", //区域的高度
            width: "700px", //区域的宽度
            urlToGetDanmu: "http://123.206.61.229/danmuplayer/Backend/web/index.php/danmu/query/" + getUrlParam('id'),
            urlToPostDanmu: "http://123.206.61.229/danmuplayer/Backend/web/index.php/danmu/stone/" + getUrlParam('id')
        });
    }
    
</script>